.body{
    
    
    -fx-background-image: url(Logo.png); 
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;  
    
    
}

.exit{
    
    -fx-background-image: url(Exit.png); 
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;  
    
}

.arrow{
    
    -fx-background-image: url(arrow.png); 
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;  
    
}
.reload{
    
    -fx-background-image: url(reload.png); 
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    
}